---json
{
  "permalink": "/feed/feed.xml",
  "layout": false,
  "eleventyExcludeFromCollections": false,
  "metadata": {
    "title": "Kazu Podcast",
    "description": "An homage to Theo & Matt",
    "language": "en",
    "base": "https://kazu-podcast.netlify.app",
    "author": {
      "name": "Mr. Smithers"
    }
  },
  "collection": {
			"name": "posts",
			"limit": 10
	},
  "stylesheet": "pretty-atom-feed.xsl",
  "eleventyNavigation": {
    "key": "Feed",
    "order": 3
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="{{ stylesheet }}" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" audio="{{ post.data.audioUrl }}"/>

    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.base) }}</content>
    <enclosure url="{{ post.data.audioUrl }}" type="audio/mpeg"></enclosure>
  </entry>
  {%- endfor %}
</feed>